<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloader</title>
    <link rel="stylesheet" href="static/header-layout.css" />
</head>
<body>
  <header class="site-header">
    <div class="logo">DOWNLOADER<div>
    <div class="links">
        <nav id="main-nav" class="main-nav">
            <a class="youtlink" href="/">YouTube</a>
            <a class="instlink" href="/insta">&ensp;Instagram</a>
        <nav>
    <div>
    <main class="container-fluid py-5 text-center">
        {% block main %}{% endblock %}
    </main>
  </header>
</body>
</html>
